{% load  static%}
<!DOCTYPE HTML>
<html>

<head>
<title>Voidmain</title>
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css'%}" title="style" />

    <style>
    body, html {
      height: 100%;
      margin: 0;
    }

    .bg {
      /* The image used */
      background-image: url("img_girl.jpg");

      /* Full height */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    </style>

</head>

<body>
	<div id="main">
		<div id="header">
			<div id="logo">
				<div id="logo_text">
					<div align="center">
                            <!-- class="logo_colour", allows you to change the colour of the text -->

						<br/><br/><br/><br/><br/><br/><br/>
						<br/><br/><br/><br/><br/><br/><br/>
                        <h3>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="#"><font color="white" size="15">Translingo</font></a>
                        </h3>
                        <br/><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="\login"><font color="white" size="10">Login</font></a>
                    </div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>