{% extends 'base.html' %} {% load static %} 

{% block content %}
<h1>Login Status: {{ message }}</h1>

<form method="POST" action="{% url 'user_login' %}">
  {% csrf_token %}

  <div class="form_settings">
    <p>
      <label>Email:</label>
      <input class="contact" type="text" name="username" required />
    </p>
    <p>
      <label>Password:</label>
      <input class="contact" type="password" name="password" required />
    </p>

    <p style="padding-top: 15px">
      <input class="submit" type="submit" value="Login" />
    </p>
  </div>
</form>
{% endblock%}